@use "../../../../../styles/variables" as var;

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var.$modal-init;

  .container-fluid {
    width: 90%;
    height: 96%;
    padding: 20px 30px;
    margin: auto;
    border-radius: 20px;
    // border: 1px solid var.$primero;
    background-color: var.$negro-modal;
    color: var.$primero;

    .loader {
      height: 99%;
      width: 99%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }

    .actions {
      display: flex;
      width: 95%;
      margin: auto;
      height: 40px;
      line-height: 40px;
      justify-content: space-between;
      padding: auto 20px;

      .icons {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100px;
        text-align: start;
      }
    }

    .contenido {
      width: 100%;
      height: 93%;
      margin: 20px auto 0 auto;
      display: flex;

      .form_container {
        flex: 7;
        padding: 0;

        .grupo_nota {
          flex-direction: column;
          display: flex;
          margin: auto;
          height: 100%;
          width: 95%;
          border-radius: 20px;
          padding: 10px;
          background-color: var.$font-note;

          .title {
            width: 95%;
            height: 10%;
            margin: 0 auto 6px auto;

            .title_area {
              height: 60px;
              line-height: 50px;
              width: 100%;

              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;

              font-size: 25px;
              font-weight: 700;
              background-color: transparent;
              border: none;
              color: var.$primero;
              resize: none !important;
              cursor: pointer;

              &:focus {
                outline: none;
              }
            }
          }

          .content {
            width: 95%;
            height: 90%;
            margin: auto !important;
            
            .area {
              overflow-y: scroll;
              scrollbar-width: none;
              height: 100%;
              width: 100%;
              text-align: justify;
              color: var.$primero;
              font-size: 16px;
              background-color: transparent;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              border: none !important;
              resize: none;
              cursor: pointer;
              // word-break: break-all;
              // hyphens: auto;
              -webkit-tap-highlight-color: transparent;

              &:hover {
                border-color: transparent;
              }

              &:focus {
                border-color: transparent;
                outline: none;
              }

              &:active {
                border-color: transparent;
              }
            }

          }
        }
      }

      .info {
        flex: 3;
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 20px;
        background-color: var.$sexto;
        padding: 20px 1px;
        text-align: center;

        .contain {
          width: 100%;
          margin: auto;
          display: flex;
          flex-direction: column;
          color: var.$cuarto;
          font-weight: 600;

          &>div {
            flex: 1;
            width: 100%;
            margin-top: 10px;
            align-items: start;
            background-color: var.$font-note;
            padding: 20px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}



.icono {
  margin-left: 15px;

  fa-icon {
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
  }

  &:hover {
    color: var.$tercero;
    scale: 1.6;
  }
}

@media (30px <=width <=700px) {

  // de aqui 
  .container {

    .container-fluid {
      width: 98%;
      height: 98%;
      padding: 8px 2px;

      .actions {
        width: 99%;
        height: 40px;
      }

      .contenido {
        width: 98%;
        height: 93%;
        margin: 2px auto 0 auto;
        flex-direction: column;

        .form_container {
          padding: 0;
          margin-bottom: 10px;

          .grupo_nota {
            width: 95% !important;
            margin-bottom: 10px;
            padding: 5px !important;

            .title {
              width: 95%;
              height: 5%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 3px;
              margin: 15px auto 0 auto !important;

            }

            .content {
              width: 98%;
              height: 61vh !important;
              margin: 0 auto !important;

              .area {
                padding: 8px 8px 0 8px;
                font-size: 14px !important;
              }
            }
          }
        }

        .info {
          margin-top: 3px !important;
          margin: 0px auto !important;
          padding: 10px;

          h3 {
            font-size: 13px !important;
          }

          .contain {
            font-size: 11px !important;
            height: auto;
          }
        }
      }
    }
  }
}