<div class="container">
  <div class="container-fluid">
    <div class="actions">
      <div class="icons">
        <div class="icono" (click)="cerrarNewNote.emit(false)">
          <fa-icon [icon]="faChevronLeft" />
        </div>
        <div class="icono">
          <fa-icon [icon]="faCheck" />
        </div>
      </div>
      <div class="config">
        <div class="icono">
          <fa-icon [icon]="faEllipsis"/></div>
        </div>
    </div>
    <div class="title">
      <textarea class="title-area" name="" [value]="title" id=""></textarea>
    </div>
    <div class="content">
        <textarea class="area" [value]="contenido"> </textarea>
    </div>
  </div>
</div>