<div class="container">
  <div class="container-fluid">
    <div class="actions">
      <div class="icons">
        <div class="icono" (click)="volver()">
          <fa-icon [icon]="faChevronLeft" />
        </div>
        <div class="icono" (click)="save(data.idNote)">
          <fa-icon [icon]="faCheck" />
        </div>
      </div>
      <div class="config">
        <div class="icono">
          <fa-icon [icon]="faEllipsis" />
        </div>
      </div>
    </div>
    @if (loader) { loader... }@else {
    <form [formGroup]="dataForm">
      <div class="title">
        <textarea class="title-area" formControlName="title"></textarea>
      </div>
      <div class="content">
        <textarea class="area" formControlName="contenido"> </textarea>
      </div>
    </form>
    <div class="info">
      <h3>Modified</h3>
      <div class="contain">
        <div class="created">
          <label for=""
            >Created:
            {{ data.fechaCreacion === null ? hoy : data.fechaCreacion }}</label
          >
        </div>
        <div class="update">
          <label for=""
            >Update:
            {{ data.fechaUpdate === null ? "none" : data.fechaUpdate }}
          </label>
        </div>
      </div>
    </div>
    }
  </div>
</div>

@if (alert) {
<app-request-alert
  [Request]="Request"
  (closeAlert)="closeAlert($event)"
  (Response)="requestResponse($event)"
/>
}
