// Fondos
$font-inicio: url('../assets/_font.png'); //imagen de fondo para inicio app

// Imagenes
$image-font: url('../assets/font_one.jpeg');
// Fondo oscuro
$fondo-oscuro: rgb(4, 2, 37);

// Colores
$primero: rgb(255, 247, 247);
$primeroDifuminado: rgba(248, 248, 248, 0.242);
$segundo: rgba(82, 1, 1, 0.952);
$tercero: rgba(72, 116, 240, 0.877);
$cuarto: rgba(135, 154, 196, 0.877);
$quinto: rgba(4, 7, 14, 0.877);
$sexto: rgba(18, 27, 48, 0.904);
$septimo: rgba(21, 26, 105, 0.904);

// Degradados
$negro-opaco: rgba(0, 0, 0, 0.5);
$negro-modal: rgba(0, 0, 0, 0.692);
$modal-font: rgba(1, 1, 22, 0.9);
$modal-init: rgba(2, 2, 35, 0.979);
$font-note: rgba(52, 52, 61, 0.855);
$font-note-show: rgba(40, 40, 94, 0.52);



