// Fondos
$font-inicio: url('../assets/_font.png'); //imagen de fondo para inicio app

// Imagenes
$image-font: url('../assets/font_one.jpeg');

// Colores
$primero: rgb(255, 247, 247);
$primeroDifuminado: rgba(248, 248, 248, 0.242);
$segundo: rgba(82, 1, 1, 0.952);
$tercero: rgba(72, 116, 240, 0.877);
$cuarto: rgba(135, 154, 196, 0.877);
$quinto: rgba(4, 7, 14, 0.877);

// Degradados
$negro-opaco: rgba(0, 0, 0, 0.5);
$negro-modal: rgba(0, 0, 0, 0.692);
