@use "../../../../../styles/variables" as var;

.delete {
  background-color: rgba(208, 25, 25, 0.593) !important;
}

.container {
  width: 200px;
  height: 260px;
  border: 1px solid var.$cuarto;
  background-color: var.$sexto;

  border-radius: 15px;
  margin: 10px;

  .container-fluid {
    width: 100%;
    height: 93%;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  &:hover {
    background-color: var.$primeroDifuminado;
    animation: shake 0.4s ease-in-out 1;
  }

  .title {
    flex: 1;
    display: flex;

    .delete_icon {
      width: 15px;
      height: 15px;
      background-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    h4 {
      text-align: center;
      color: var.$primero;
      font-size: 0.9rem;
      margin: 0 auto 5px auto;
    }
  }

  .content {
    padding-bottom: 5%;
    text-align: justify;
    font-size: 11.8px;
    // -webkit-box-orient: vertical;


    flex: 9;
    overflow-y: hidden;
    overflow-x: hidden;
    word-wrap: break-word;
    padding-bottom: 2px;
    box-sizing: border-box;
  }
}

// .selected {
//   background-color: red !important;
// }


// animations 
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (300px <=width <=1366px) {

  .container {
    width: 150px;
    height: 200px;
    padding: 9px;

    .title {
      font-size: 0.8rem;
    }

    .content {
      font-size: 11px;
      -webkit-line-clamp: 10;
    }

  }
}