@use "../../../../../styles/variables" as var;

.container {
  width: 200px;
  height: 260px;
  border: 1px solid var.$cuarto;
  padding: 15px;
  margin: 10px;

  &:hover {
    background-color: var.$sexto;
  }
  .title {
    height: 15%;
  }

  .content {
    text-align: justify;
    font-size: 13px;
    max-width: 98%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 11;
    overflow: hidden;
  }
}

.selected {
  background-color: red !important;
}

@media (300px <= width <= 1366px) {

  .container {
    width: 150px;
    height: 200px;
    padding: 9px;

    .title{
      font-size: 0.8rem;
    }

    .content {
      font-size: 11px;
    }

  }
}
