@use "../../styles/variables" as var;

.container {
  width: 100%;
  height: 100vh;
  background: var.$fondo-oscuro;
  color: var.$primero;

  .navbar {
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
  }
}

.container-fluid {
  width: 100%;
  display: flex;

  .books {
    width: 20%;
    height: 90vh;
    display: block;

    .contents {
      margin: auto;
      width: 96%;
      text-align: center;
      background-color: var.$negro-opaco;
      font-weight: 600;

      .new {
        height: 8vh;
        line-height: 8vh;
        background-color: var.$negro-opaco;

        &:hover {
          background-color: var.$sexto;
        }
      }

      .settings {
        height: 5vh;
        line-height: 5.2vh;
        background: var.$negro-opaco;
        border: 1px solid var.$primero;

        &:hover {
          background-color: var.$sexto;
          border: 1px solid var.$primero;
        }
      }
    }
  }

  .notes {
    width: 80%;
    height: 90vh;
    background-color: var.$negro-opaco;
  }
}

@media (450px <=width <=1366px) {
  .header {
    & .contenido {
      & .title {
        font-size: 1.6rem !important;
      }

      & .request {
        & .search {
          width: 79% !important;
          text-align: center;
          color: var.$primero;
          font-size: 12px !important;
          border-bottom: 0.8px solid var.$primero;
        }

        & button {
          padding: 1px 20px !important;
          font-size: 12px !important;
          border-radius: 4px !important;
        }
      }
    }
  }
}
