<div class="container">
  @if (loader) {
  <app-loader /> } @else if(loader == false) {
  <div class="navbar">
    <app-title />
  </div>

  <div class="container-fluid">
    <div class="books">
      <app-books (getLibreta)="getLibreta($event)" />
      <div class="contents">
        <div class="new" (click)="toggleModal(true)">
          <div class="caja">
            <fa-icon [icon]="faPlus" />
            <p>Nuevo</p>
          </div>
        </div>
        <div class="settings" (click)="settings(true)">
          <div class="caja">
            <fa-icon [icon]="faGears" />
            <p>Settings</p>
          </div>
        </div>
      </div>
    </div>

    <div class="notes">
      <app-list-books [idLibreta]="idlibreta"/>
    </div>
    
    <div class="new_note" (click)="newNote()">
      <fa-icon [icon]="faSquarePlus" />
    </div>
  </div>
  }
</div>
@if (modalNewNote) {
<app-new-notebook (toggleModal)="toggleModal($event)" />
}

@if (note) {
  <app-note-data [title]="title" [contenido]="contenido"/>
}

@if (modalSettings) {
  <app-settings (settings)="settings($event)" />
}
@if (exit) {
  <app-logout />
}
