<div class="container">
  @if (loader) {
  <app-loader /> // Carga slider antes de iniciar la pagina } @else if(loader ==
  false) {
  <div class="navbar">
    <div class="title">
      <h3>My Bloog</h3>
    </div>
  </div>

  <div class="container-fluid">
    <div class="books">
      <app-books />
      <div class="contents">
        <div class="new">Nuevo</div>
        <div class="settings">Settings</div>
      </div>
    </div>

    <div class="notes">
      <app-list-books />
    </div>
  </div>
  }
</div>
