@use '../../../../styles/variables' as var;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & .container-row {
    width: 60%;
    min-height: 85%;
    height: auto;
    margin: auto;
    background-color: var.$negro-opaco;
    box-shadow: 10px 10px 10px;

    & .container-column {
      width: 100%;
      margin-top: 12%;

      & .title {
        font-size: 2rem;
        width: 40%;
        margin: auto;
        color: var.$primero;
        text-align: center;
        border-bottom: 1px solid var.$primero;
      }

      & .formulario {
        margin: 10px auto;
        width: 70%;
        font-size: 1rem;
        border-radius: 15px;
        background-color: var.$segundo;
        border: 1px solid var.$primero;
        color: var.$primero;
        align-items: center;
        padding: 45px 0;

        & .form-group {
          width: 60%;
          margin: auto !important;
          display: block;
          flex-direction: column;

          & label,
          input {
            width: 100%;
            text-align: center;
          }

          input {
            color: var.$cuarto;
            font-weight: 600;
          }
        }
        & .form-check {
          margin-top: 8px;
          width: 100%;
          text-align: center;
        }

        & .btn-submit {
          margin-top: 20px;
          text-align: center;

          & button {
            padding: 5px 15px;
            background-color: var.$tercero;
            color: var.$primero;
            border-radius: 10px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.carger {
  width: 30%;
  margin: 10px auto 0 auto;
  text-align: center;
  color: var.$tercero;
  font-weight: 500;
  font-style: italic;
}

.alert {
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  color: var.$tercero;
}

.alert-danger {
  width: 80%;
  margin: 10px auto;
  background-color: var.$negro-modal;
  text-align: center;
  padding: 15px 10px;
  color: var.$tercero;
  border-radius: 15px;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
}
