@use "../../../../../styles/variables" as var;


.container {
  width: 100%;
  height: 100% !important;
  margin: auto;
  background-color: var.$negro-modal;
  color: var.$primero;

  .container-fluid {
    height: 100%;

    .loader {
      width: 100%;
      height: 76%;
    }

    .title {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      h4 {
        width: 50%;
        margin: auto;
        border-bottom: 1px solid var.$primero;
        text-align: center;
      }
    }

    .actions {
      width: 100%;
      height: 30px;
      display: flex;
      margin-top: 14px;
      justify-content: space-around;


      .panel {
        height: 100%;
        width: 32%;
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;


        .icono {
          width: 20px;
          height: 100%;
          padding: 15px 30px;
          border: 2px solid transparent;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: var.$font-note;
            border: 2px solid var.$primero ;
          }
        }


        .cambio {
          background: none;
          border: none;
          color: var.$primero;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }

      // numero de sleeccionados para borrar
      .cant_delete {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32%;
        font-weight: 700;

        span {
          position: relative;
          width: 32px;
          height: 100%;
          padding: 1px 8px;
          background-color: var.$cuarto;
          border-radius: 50%;

          b {
            position: absolute;
            // text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .btn_delete_book {
        padding: 6px 27px;
        border-radius: 5px;
        color: var.$primero;
        font-weight: 700;
        border: none;
        background-color: var.$primeroDifuminado;

        &:hover {
          background-color: var.$tercero;
        }
      }

      .pagina {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;

        section {
          width: 20%;
          margin: 0 4px;
        }

        .cambio {
          width: 40%;
          height: 100% !important;
          // padding: 0 10px;
          // font-size: 1.4rem;
          display: flex;
          justify-content: center;
          align-items: center;

          .btn {
            width: 100%;
            height: 90%;
            border-radius: 5px;
            background-color: transparent;
            border: 1px solid transparent;
            
            &:hover {
              background-color: var.$primeroDifuminado;
              border: none;
              color: var.$cuarto;
              cursor: pointer;
            }

            .icon {
              font-size: 1rem;
              color: var.$primero;
            }
          }

        }
      }
    }

    .panel_libretas {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .list-books {
        position: relative;
        display: block;
        width: 99%;
        height: 76%;
        margin: 5px auto 0px auto;
        padding: 20px 1px 0px 1px;
        text-align: center;
        list-style: none;
        overflow: scroll !important;
        scrollbar-width: none;
        -ms-overflow-style: none;

        .item {
          padding: 19px;
          color: var.$tercero;
          border: 1px solid transparent;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            background-color: var.$sexto;
            color: var.$primero;
            border: 1px solid var.$primero;
            border-radius: 10px;
          }
        }
      }

      // opciones
      .contents {
        margin: 0 auto;
        width: 100%;
        height: 80px;
        bottom: 0;
        text-align: center;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        background-color: var.$negro-opaco;


        .show {
          background-color: var.$negro-opaco;
          flex: 0 0 20px;

          &:hover {
            background-color: var.$cuarto;
          }
        }

        .options {
          width: 100%;
          height: 6vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var.$font-note;
          border: 1px solid var.$primero;

          &:hover {
            background-color: var.$septimo;
            cursor: pointer;

          }

          .caja {
            width: 30%;
            margin: auto;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }


}


.delete {
  .icono {
    background-color: var.$primeroDifuminado;
    color: red;
  }
}

.edit {
  .icono {
    background-color: var.$font-note;
    color: var.$tercero;
  }
}

@media (30px <=width <=700px) {

  .container {
    height: 25vh !important;
    // background-color: blue;

    // titulo books
    .title {
      height: 5% !important;
      width: 100% !important;

      h4 {
        font-size: 12px;
        width: 70%;
        line-height: 10px;
        margin-bottom: 0;
      }
    }

    // actiones (delete, edit, page)
    .actions {
      height: 12% !important;
      margin-top: 0 !important;

      .icono {
        padding: 1px 30px !important;
        border: none !important;
      }

      &>* {
        font-size: 12px !important;
      }
    }

    .panel_libretas {
      height: 83% !important;
      flex-direction: row-reverse !important;
      align-items: start !important;
      text-align: start !important;
      justify-content: start !important;

      .list-books {
        width: auto !important;
        min-width: 70% !important;
        height: 98% !important;
        padding: 5px !important;
        margin-top: 0 !important;
        display: flex !important;
        // background-color: red;
      }

      .contents {
        // width: 340px !important;
        max-width: 100px !important;
        height: 98% !important;
        padding: 5px 0 5px 5px;
        margin-top: 0;
        margin-left: 0;

        .show {
          display: none !important;
        }

        .options {
          height: 100% !important;
          width: 20px;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          background-color: var.$image-font !important;
          border-radius: 12px;

          .caja {
            flex-direction: column-reverse;
            width: 100% !important;
            height: 20% !important;
          }
        }
      }
    }
  }




  .item {
    padding: 16px !important;
    font-size: 12px !important;
    font-weight: 500;
  }
}