<!-- muestra las libretas del usuario -->
<div class="container">
  <div class="container-fluid">
    <div class="title">
      <h4>NoteBooks</h4>
    </div>

    <!-- acciones de las notas -->
    <div class="actions">
      <div class="panel delete">
        <fa-icon [icon]="faTrash" />
      </div>
      <div class="panel edit">
        <fa-icon [icon]="faPenToSquare" />
      </div>
      <div class="panel pagina">
        <section class="cambio">< </section>
        <section> 1 </section>
        <section class="cambio"> ></section>
      </div>
    </div>

    @if (loading$|async) {
    <div class="loader">
      <app-loader-spinner />
    </div>
    }

    @if ((books$ | async)?.length === 0 && !(loading$ |async)) {
    No hay libretas
    }@else if((books$ | async)?.length !== 0) {
    <ul class="list-books">
      @for (item of books$ | async; track item.id) {
      <li>
        <app-target [item]='item' [isActive]="selectItem === item.id" (noteSelected)="onNoteSelected(item.id)" />
      </li>
      }
    </ul>
    }
  </div>
</div>