<!-- muestra las libretas del usuario -->
<div class="container">
  <div class="container-fluid">
    <div class="title">
      <h4>NoteBooks</h4>
    </div>

    <!-- acciones de las notas -->
    <div class="actions">
      <!-- icono delete -->
      <div (click)="onDelete()" class="panel" title="delete book" [class.delete]="deleteBook">
        <fa-icon class="icono" [icon]="faTrash" />
      </div>

      <!-- icono editar -->
      @if (!deleteBook) {
      <div (click)="onEdit()" class="panel" title="edit book" [class.edit]="edit">
        <fa-icon class="icono" [icon]="faPenToSquare" />
      </div>
      }@else {

      <!-- conteo delete -->
      <div class="cant_delete">
        <span>1</span>
      </div>
      }

      <div class="panel pagina">
        @if (pagina !== 1 && blockPage) {
        <button title="anterior" (click)="changePage(pagina-1)" class="cambio">
          <fa-icon [icon]="faChevronLeft" />
        </button>
        }
        @if (!deleteBook) {
        <section title="pagina"> {{ pagina }} </section>
        }@else {
        <button class="btn_delete_book">aceptar</button>
        }

        @if (pagina !== quantity && blockPage) {
        <button title="siguiente" (click)="changePage(pagina+1)" class="cambio">
          <fa-icon [icon]="fachevronRight" />
        </button>
        }
      </div>
    </div>


    <div class="panel_libretas">
      @if (loading$|async) {
      <div class="list-books">
        <app-loader-spinner />
      </div>
      }
      @if ((books$ | async)?.length === 0 && !(loading$ |async)) {
      <div class="list-books">
        No hay libretas
      </div>
      }@else if((books$ | async)?.length !== 0) {
      <ul class="list-books">
        @for (item of books$ | async; track item.id) {
        <li>
          <app-target [item]='item' [isActive]="selectItem === item.id" (noteSelected)="onNoteSelected(item.id)" />
        </li>
        }
      </ul>
      }

      <!-- add nuevo y configurations -->
      <div class="contents">
        <!-- boton nueva libreta -->
        <div class="show" (click)="toggleMenu(menuActive)">
          @if (menuActive) {
          <fa-icon [icon]="faChevronUp" />
          }@else {
          <fa-icon [icon]="faChevronDown" />
          }
        </div>
        <!-- @if ((loading$|async) === false) { -->
        <div class="options" (click)="goNewBook()">
          <!-- Boton para nueva libreta -->
          <div title="Nuevo libro" class="caja">
            <fa-icon [icon]="faPlus" />
            <p>Nuevo</p>
          </div>
        </div>
        <!-- } -->
      </div>
    </div>
  </div>
</div>