@use "../../../../styles/variables" as var;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;

  // titulo 
  .title {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      text-align: center;
      margin: auto;
      width: 30%;
      border-bottom: 1px solid var.$primero;
    }
  }

  // acciones
  .panel_actions {
    width: 95%;
    height: 5%;
    padding: 0 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      // 20%
      .panel_delete {
        width: 20%;
        display: flex;
        padding: 0 20px;

        .icono {
          font-size: 1.5rem;
        }

        .cant_delete_note {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: var.$cuarto;
          padding: 15px;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var.$primero;
          margin: 0 15px 0 5px;
        }

        .request {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .btn_elimiar {
            width: 80%;
            height: 30px;
            background-color: var.$primeroDifuminado;
            border: none;
            border-radius: 5px;
            color: var.$primero;
            font-weight: 600;
            cursor: pointer;

            &:hover {
              background-color: var.$tercero;
              color: var.$primero;
            }
          }
        }
      }

      //  60%
      .panel_buscar {
        width: 60%;
        position: relative;

        .search_notes {
          width: 100%;
          height: 30px;
          text-align: center;
          background-color: var.$primeroDifuminado;
          border: none;
          border-radius: 5px;
          padding-left: 10px;
          font-size: 1rem;
        }

        .btn_buscar {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          border: none;
          color: var.$primero;
          background-color: transparent;

          &:hover {
            font-weight: 600;
          }
        }
      }

      // 20%
      .panel_pages {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;

        .page {
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          text-align: center;
        }

        &>div {
          width: 25%;

          button {
            width: 100%;
            border: none;
            border-radius: 5px;
            font-weight: 900;
            font-size: 1.2rem;
            background-color: transparent;
            color: var.$primero;
            cursor: pointer;

            &:hover {
              background-color: var.$primeroDifuminado;
              color: var.$primero;
            }
          }
        }
      }
    }
  }

  .active {
    color: red;
  }

  // caja de notas
  .notebooks {
    width: 100%;
    height: 88%;
    text-align: center;

    .loader {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul {
      width: 99%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;

      // oculta el scrooll
      overflow-y: scroll;
      scrollbar-width: none;
    }
  }
}


@media (30px <=width <=500px) {
  .container {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin-top: 0 !important;

    .title {
      height: 2% !important;

      h4 {
        font-size: 0.7rem !important;
        width: 50% !important;
      }
    }

    .panel_actions {
      height: 4% !important;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      justify-content: flex-start;
      padding: 0 !important;

      .actions {
        margin: 0px  auto;
        width: 95% !important;
        margin-top: 5px;
        justify-content: space-between;

        .panel_delete {
          width: 50% !important;
          height: 100%;
          justify-content: start;
          align-items: center;

          .icono {
            width: 20px !important;
            height: 20px !important;
            font-size: 1rem !important;
          }

          .cant_delete_note {
            width: 1px !important;
            height: 15px !important;
            padding: 10px !important;
            font-size: 12px !important;
          }

          .btn_elimiar {
            padding: 1px !important;
            height: 25px !important;
          }
        }

        .panel_buscar {
          display: none !important;
        }

      }
    }

    .notebooks {
      ul {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
      }
    }
  }
}