<div class="container">
  <!-- @if (loader) { <app-loader /> } @else if(loader == false) { -->
  <!-- titulo -->
  <div class="navbar">
    <app-title />
  </div>

  <div class="container-fluid">
    <div class="books {{menuActive ? 'ocultar' : ''}}">
      <!-- lista de libretas -->
      <div class="libretas">
        <app-books (getLibreta)="getLibreta($event)" />
      </div>

      <div class="contents">
        <!-- boton nueva libreta -->
        <div class="show" (click)="toggleMenu(menuActive)">
          @if (menuActive) {
          <fa-icon [icon]="faChevronUp" />
          }@else {
          <fa-icon [icon]="faChevronDown" />
          }
        </div>
        <div class="options">
          <!-- Boton para nueva libreta -->
          <div class="new" (click)="goNewBook()">
            <div title="Nuevo libro" class="caja">
              <fa-icon [icon]="faPlus" />
              <p>Nuevo</p>
            </div>
          </div>

          <!-- boton configuraciones -->
          <div class="settings" (click)="goSetting()">
            <div title="configuraciones" class="caja">
              <fa-icon [icon]="faGears" />
              <p>Settings</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Lista de las notas de la libreta cargada -->
    <div class="notes">
      @if (idlibreta !== "" || idlibreta !== null) {
        <app-list-books (dataNota)="openNote($event)" [idLibreta]="idlibreta" />
      }
    </div>

    <!-- boton para agregar una nota a la libreta abierta -->
    <button [disabled]="newNote" title="nueva nota" class="new_note" (click)="goNewNote()">
      <fa-icon class="icono" [icon]="faSquarePlus" />
    </button>
  </div>
  <!-- } -->
</div>

<!-- cierra sesion -->
@if (exit) {
<app-logout />
}