@use "../../../../styles/variables" as var;

.container {
  width: 100%;
  height: 100vh;
  background: var.$fondo-oscuro;
  color: var.$primero;
  overflow: hidden;

  .navbar {
    width: 100%;
    height: 70px;
    line-height: 70px;
  }
}


.container-fluid {
  width: 99%;
  display: flex;
  margin: auto;
  justify-content: space-around;

  .books {
    width: 19%;
    height: 90vh;

    // libretas
    .libretas {
      width: 100%;
      height: 82%;
      transition: height 0.3s;
    }

    // opciones
    .contents {
      margin: auto;
      width: 100%;
      height: 17%;
      text-align: center;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      background-color: var.$negro-opaco;


      .show {
        background-color: var.$negro-opaco;
        flex: 0 0 20px;

        &:hover {
          background-color: var.$cuarto;
        }
      }

      .options {
        flex: 5;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &>* {
          transition:
            max-height 3s ease,
            height 3s ease
          ;
        }

        .new {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          margin-bottom: 3px;
          border: 1px solid var.$tercero;

          &:hover {
            background-color: var.$sexto;
          }

          & .caja {
            margin: auto;
            width: 40%;
            display: flex;
            justify-content: space-evenly;

            & fa-icon {
              color: var.$tercero;
              font-weight: 700;
            }
          }
        }

        .settings {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          background: var.$negro-opaco;
          border: 1px solid var.$primero;

          &:hover {
            background-color: var.$sexto;
            border: 1px solid var.$primero;
          }

          & .caja {
            margin: auto;
            display: flex;
            width: 40%;
            justify-content: space-evenly;

            & fa-icon {
              font-weight: 700;
              color: var.$tercero;
            }
          }
        }
      }
    }

    &.ocultar {
      .libretas {
        height: 97%; // ocupa todo
        transition: height 0.3s;
      }

      .contents {
        height: 0;

        .options {
          &>* {
            height: 0;
            max-height: 0;
            transition: height 0.2s;
          }
        }
      }
    }
  }

  .notes {
    width: 80%;
    height: 90vh;
    background-color: var.$negro-opaco;

  }

  .new_note {
    position: absolute;
    bottom: 3%;
    right: 1%;
    font-size: 40px;

    &:hover {
      color: var.$cuarto;
    }
  }
}



@media (450px <=width <=1366px) {
  .books {
    height: 87vh !important;
  }

  .new {
    font-size: 12px !important;
  }

  .settings {
    font-size: 12px !important;
  }

  .notes {
    height: 87.5vh !important;
  }
}