<div class="container">
  <div class="container-fluid">
    <div class="exit">
      <span (click)="goHome()">
        <fa-icon [icon]="faCircleXmark" />
      </span>
    </div>

    <!-- titulo -->
    <div class="title">
      <h3>New NoteBook</h3>
    </div>

    <!-- Contendor forms -->
    <div class="content">
      @if (loader) {
        <span>
          <app-loader-spinner />
        </span>
      }
      @else {
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="group">
          <!-- <label for="name">Name:</label> -->
          <input type="text" id="nombre" autocomplete="off" formControlName="name" placeholder="Nombre de libreta ">
        </div>

        <button class="btn" type="submit" [disabled]="formulario.invalid">
          Guardar
        </button>

      </form>
      }
    </div>

    <!-- informacion de usuario -->
    <div class="panel_information">
      <div class="title_info">Informacion</div>

      @if (loadInfo) {
        <span>
          <app-loader-spinner />
        </span>
      } @else {
      <div class="information">
        <div class="info">
          <div class="item">
            <strong>Usuario: </strong>
            <span> {{userData.name}} </span>
          </div>
          <div class="item">
            <strong>Cant. libretas: </strong>
            <span> {{countBooks}}</span>
          </div>
        </div>

        <div class="dates">
          <div class="item">
            <strong>Creation: </strong>
            <span> {{ idLibreta === null ?
              (hoy | date: 'EEEE, d MMMM yyyy HH:mm')
              :
              (respuesta.createDate | date:'EEEE, d MMMM yyyy HH:mm') }}
            </span>
          </div>
          <div class="item">
            <strong>
              Update:
            </strong>
            <span> {{ idLibreta === null ? "---" : (respuesta.updateDate | date: 'EEEE, d MMMM yyyy HH:mm') }} </span>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>

@if (doneSave) {
<app-load-save [loading]="loading" />
}