<div class="container">
  <div class="container-fluid">
    <div class="exit">
      <span (click)="toggleModal.emit(false)">
        <fa-icon [icon]="faCircleXmark"></fa-icon>
      </span>
    </div>

    <div class="title">
      <h3>New NoteBook</h3>
    </div>
    <div class="content">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="group">
          <label for="name">Name:</label>
          <input type="text" id="nombre" formControlName="name" placeholder="Name">
        </div>

        <button class="btn" type="submit" [disabled]="formulario.invalid">
          Guardar
        </button>

        <div class="responses">
          @if (loadig) {
          loading ...
          }

        </div>
      </form>
    </div>
  </div>
</div>