@use '../../../styles/variables' as var;

.container {
    width: 100%;

    .title{
        width: 20%;
        height: 40px;
        margin: auto;
        text-align: center;

        h4{
            line-height: 40px;
            border-bottom: 1px solid var.$primero;
        }
    }
}